html {
    color: #f3f3f3;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
}

#main {
    background: linear-gradient(
            115deg,
            rgba(58, 58, 158, 0.8),
            rgba(136, 136, 206, 0.7)
        ),
        url("https://res.cloudinary.com/web-upload/image/upload/v1646987690/assets/images/background-form_ihmuwh.jpg")
            no-repeat center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title {
    margin: 0;
    padding-top: 1.5rem;
}

#survey-form {
    margin: 2.5rem;
    max-width: 45rem;
    min-width: 30rem;
    width: 40%;
    padding: 2.5rem;
    background: rgba(27, 27, 50, 0.6);
    border-radius: 0.5rem;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#name-label,
#email-label,
#number-label {
    margin: 0.5rem 0;
    width: 100%;
}

#name,
#email,
#number {
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

#dropdown,
#dropdown option,
#favorite-dropdown,
favorite-dropdown option {
    padding: 0.5rem 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
}

#suggestion {
    width: 100%;
    box-sizing: border-box;
}

#submit {
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem 0;
    border-radius: 0.25rem;
    color: #f3f3f3;
    background-color: rgb(48, 177, 48);
}
